@font-face {
  font-family: 'Adam';
  src: url('./assets/fonts/Adam.woff2') format('woff2'),
       url('./assets/fonts/Adam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}
@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald.woff2') format('woff2'),
       url('./assets/fonts/Oswald.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}
@font-face {
  font-family: 'Omnes';
  src: url('./assets/fonts/Omnes.woff2') format('woff2'),
       url('./assets/fonts/Omnes.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}
body {
  margin: 0;
  font-family: 'Omnes', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.display-3{
  font-family: 'Adam';
  color: #ffce02;
  text-shadow: 0px 0px 5px black;
  text-align:center;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
}
.display-4{
  color: white;
        font-family: Oswald;
        text-shadow: 0px 0px 20px #ffce02;        
        -webkit-text-stroke: black;
        -webkit-text-stroke-width: 2px;
}

.jumbotron{
  background-color: transparent;
  margin-bottom: 2rem;
  max-height: 100%;
  margin-top: 6rem;
  padding: 2rem 2rem;
}

.btn-primary {
  color: #ffce02;
  background-color: transparent;
  border-color: black;
  font-size:1.5rem;
  font-family: Adam;      
  text-shadow: 0px 0px 0.5px black;
  text-align:center;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.5px;
}

.btn-primary:hover{
  background-color: #42b549;
  text-shadow: 0px 0px 0px black;
  -webkit-text-stroke-width: 1px;
}

.col-sm-2{
  text-align: center;
}

.col-sm-4{
  text-align: center;
}


.form-control{
  
  color: #42b549;
  font-weight: bolder;
  
}

.form-control::-webkit-input-placeholder { 
  color: #42b549; 
}


.form-control-range{
  background: #ffce02;
  border-radius: 1rem;    
  box-shadow: 0px 1px 10px #42b549;
  height: 0.75rem;
  outline: none;
  -webkit-appearance: none;
  
}
.form-control-range:hover{
  opacity: 1;
}

.form-control-range::-webkit-slider-thumb{
  
  background: #42b549;
  border-radius: 1rem;    
  box-shadow: 0px 1px 10px black;
  width: 1.25rem;
  height: 1.25rem;
  outline: none;
  -webkit-appearance: none;
}
.form-label{
  font-family: 'Omnes';
  font-weight: 700;
}

.contactIcon{
  padding-reight:1rem;
  padding-left:1rem;
  height:24px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next, .carousel-control-prev{
  z-index: 0;
}
.form-check-label {
  font-family: 'Omnes';
  margin-bottom: 0;
  margin-right: 1rem;
  color: #42b549;
  font-weight: bolder;
  font-size: large;
  
}


/* 
  Extra small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/
/*
 Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
    
 }

/* 
  Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {  }

/*
  Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {  }

/*
 Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {  }